/* 
- Dark Blue (Dark Mode Elements): hsl(209, 23%, 22%)
- Very Dark Blue (Dark Mode Background): hsl(207, 26%, 17%)
- Very Dark Blue (Light Mode Text): hsl(200, 15%, 8%)
- Dark Gray (Light Mode Input): hsl(0, 0%, 52%)
- Very Light Gray (Light Mode Background): hsl(0, 0%, 98%)
- White (Dark Mode Text & Light Mode Elements): hsl(0, 0%, 100%) */
:root {
    --dark_m_el_dark_blue: hsl(209, 23%, 22%);
    --dark_m_bg_very_dark_blue: hsl(207, 26%, 17%);
    --light_m_txt:hsl(200, 15%, 8%);
    --light_m_inp_dark_gray: hsl(0, 0%, 52%);
    --light_m_bg:hsl(0, 0%, 98%);
    --dark_m_txt_light_m_el: hsl(0, 0%, 100%);

}

html, body{
    font-family: "Nunito Sans", sans-serif;

    margin: 0;
    padding: 0;

}

header{
    display: flex;
    justify-content: space-between;
    padding: 0 4rem 0 4rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    

}

.dark-mode{
    display: flex;
    align-items: center;    
}

.icon-moon{
    padding-right: 1rem;
}

main{
    background-color: var(--light_m_bg);
}

/* 600/< */
@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  }